.forumContent{
  position: fixed;
  left: 25%;
  height: 100%;
  margin: 50px;
}

.contentTitle{
  /* width: 30%; */
  display: flex;
}

.contentTitle label{
  margin-top: 10px;
  color: gray;
}

.contentAuthor{
  margin-top: 10px;
  display: flex;
  color: red;
}

.contentAuthor img{
  width: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.contents{
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}
.contents img{
  margin-top: 10px;
  margin-right: 20px;
  width: 30px;
}

.forumContent>span{
  margin-left: 60px;
  color: gray;
}

.forumContent ul{
  line-height: 2;
  list-style: none;
}


.forumContent ul img{
  width: 50px;
}

.forumContent ul span{
  color: red;
}

.forumContent ul label{
  background-color: yellow;
  font-weight: bolder;
  margin-left: 10px;
  font-size: small;
}

.forumContent ul p{
  margin: 10px 40px 10px 50px
}