.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chatbot-icon {
  bottom: 20px;
  right: 20px;
  position: fixed;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chatbot-window {
  position: fixed;
  bottom: 60px;
  right: 0;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  position: relative; /* 添加此行 */
}

.chatbot-container.open .chatbot-window {
  display: block;
  border-style: groove;
}

.input-container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  padding: 8px;
  box-sizing: border-box;
}

.input-container input{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 70%;
}

.input-container button{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 30%;
}

.chatbot-container.open .chat-log {
  display: block;
  height: 90%;
}

